$selectBtn: #2690df;
$textDark: #232d2f;
$textDarkGray: #44494a;
$textGray: #909393;
$textlight: #f8f8f8;

@import "~bootstrap/scss/bootstrap.scss";
@import "./ch_activity.scss";

.navbar {
  height: 4.375rem;
}

.breadcrumb {
  margin-top: 4.375rem;
  margin-bottom: 0;
  height: 38px;
}

//-----------ActiityList-----------//
.jumbotron01 {
  margin-top: 4.375rem;
  width: 120rem;
  height: 47rem;
  object-fit: cover;
  // object-position: 0 -170px;
}

.search {
  margin-top: 5rem;
  margin-left: 7.25rem;
  width: 55.125rem;
  height: 4.75rem;
  border: 1px solid #707070;
  border-radius: 5px;
}

.category {
  width: 21.75rem;
  margin-top: 7.8rem;
}

.list {
  margin-top: 7.8rem;
  width: 63.25rem;
}

.card {
  border-radius: 5px;
  width: 19.6rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

//-----------StudioMain-----------//
.img-area {
  width: 41.5rem;
  margin-right: 3rem;
}

.img-demo {
  height: 27rem;
  border-radius: 5px;
}

.img-wrap {
  margin-top: 3.5rem;
}

.studio-img {
  border-radius: 5px;
}

.img-wrap > span {
  font-size: 4rem;
  color: rgba(144, 147, 147, 0.3);
}

li > .BrainhubCarousel__thumbnail {
  background-color: #fff;
}

// .react-rater-star.is-active-half:before {
//   color: rgba(250, 219, 40, 0.8);
// }

.studio-introduction {
  padding-right: 2.5rem;
}

.nav-pills-studio {
  padding: 0 17.5rem;
  .nav-link {
    width: 9.25rem;
    text-align: center;
    color: $light;
    border-radius: 0px;
    border: none;
    opacity: 0.3;
  }

  .nav-link.active,
  .show > .nav-link {
    color: $light;
    border-bottom: 5px solid $success;
    background-color: $textDarkGray;
    opacity: 1;
  }
}

//-----------StudioInfo-----------//
.studio-info {
  padding: 6rem 0;
}

.studio-attention {
  padding: 6rem 0;
}

.felmenon > div > img {
  width: 22.875rem;
}

.felmenon {
  // padding: 0 13.875rem;
  margin-top: 3rem;
}

.info-card > img {
  width: 9.8rem;
}

.info-card {
  padding: 2rem 4rem;
}

//-----------ActivityCart-----------//
.order-check {
  margin-top: 4.375rem;
  padding: 1.5rem 3.75rem;
}

.order-title {
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: $textDarkGray;
  border-left: 1.25rem solid $textDarkGray;
  padding-left: 0.625rem;
  margin-bottom: 3.625rem;
}

.total-amount {
  background-color: rgba(144, 147, 147, 0.15);
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 1.5rem 2rem;
}

.total-area {
  background-color: rgba(144, 147, 147, 0.15);
  padding: 2rem;
  margin-top: 3.1rem;
}

//-----------PaymentStep-----------//
.step-wrap {
  margin-top: 4.375rem;
  padding: 2.375rem 1.5rem 1.5rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.step-box {
  width: 21.875rem;
  height: 12.5rem;
  border: 1px solid #707070;
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem 7rem;
  font-size: 1.375rem;
}

.step-box > img {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1rem;
}

//-----------Payment-----------//
.data-area {
  padding: 1.5rem 0;
}

.form-area {
  border-radius: 5px;
  background-color: #fff;
  padding: 2.5rem;
}

//-----------ActivityOrder-----------//
.list-title {
  width: 20rem;
  font-size: 2rem;
  font-weight: bold;
  color: $textDarkGray;
  text-align: center;
  border-left: 3px solid $textDarkGray;
  border-right: 3px solid $textDarkGray;
  // padding-left: 0.625rem;
  // margin-bottom: 3.625rem;
}

.activity-order {
  margin-top: 4.375rem;
  padding: 5.875rem 0;
}

.order-list {
  width: 60.125rem;
  margin-left: 5.125rem;
}

.member-bar {
  width: 20rem;
}

.o-pag-name {
  width: 10rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: rgba(68, 73, 74, 0.3);
}

.this-o-pag-name {
  width: 10rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: $textDarkGray;
  border-bottom: 5px solid #2690df;
}

.order-info {
  padding: 1.5rem;
}
